

/*nav style for desktop*/

nav{margin-top: 2rem;
        margin-bottom: 5rem;
        height: 3rem;
        border-bottom: 1px solid black;
        width: 100%;}
        
        
        nav ul {list-style-type: none;
                margin:0;
                padding: 0;
                color: black;
                display: flex;
                justify-content: flex-end; }
        
        nav>ul li{width: 120px;
                position: relative;
                text-align: center;
                
                font-size: 1.1rem;
                font-family: 'Open Sans', sans-serif;
                color: black;
                }
        
        nav a {text-decoration: none; 
                    
                    padding: 0px 0px 0px 0px;
                    color: black;}
        
        nav a:link {background-color: white;
                        color: #000000;
                }
        
        nav a:hover, nav a:focus { font-weight: bold;
                
        }
        nav a:active{ background-color: black;
                        color: white;
                            }
        
         nav ul li ul {position: absolute;
                        width: 120px;
                        display: none;
                        text-align: center;
                        font-size: 1.1rem;
                        font-family: 'Open Sans', sans-serif;
                        padding: 4.5px;  
                        }
        
        nav>ul>li:hover>ul { display: block; }
        
        #hamburger{display:none;}
        
        /*mobile nav*/
        
        @media only screen and (max-width: 570px) {
        
        #navwrap{position:relative;
        display:block;
        height: 40px;
        display:block;
        width:100%;}
        
        #hamburger{display: inline-block;
        padding-left:20px;
        
        width:26px;
        font-size: 2.3rem;
        }
        
        nav ul, nav:active ul{
        display: none;
        position:absolute;
        }
        
        nav:hover ul {display: block;
        }
        nav:hover #mobilehide{display:none;
        }
        nav li{ text-align: center;}
        
        nav>ul li{
            text-align:left;
            
            color:black;
            padding-left: 20px;
            line-height: 2.5rem;
            
        }
        
            nav a{ text-decoration:none;
            display: block;
            width: 200px;
            color:blue;}
        
            nav ul li ul li{display:none;
            margin-top: 2rem;
            }
            nav a:hover, nav a:focus { font-weight: bold;
            color:blue;
        }
        nav>ul li .lastchild{ color:blue}
        
        }
        






        

                            

        
        
