
/* Styles for References page*/

.references-firstline {text-indent: -3rem;}
.referencesheading2{text-align: center;
font-size: 1.8rem;}
.resorcesheading{font-size:1.5rem;
text-align: center;
font-family:'Lora', serif;}


#maincontainer-references { 
    display:grid;
    grid-area: 1fr/1fr;
    max-width: 55%;
    margin: 0 auto;
    
     line-height: 1.9rem;
    margin-bottom: 10rem;
    margin: auto;
    border:none;}


.footermargin {margin-top: 5rem;
                }
#maincontainer-references p:first-child::first-letter {color: white;
                                            font-size: 3rem;
                                            background-color: black;
                                         }  

/* Font styles*/
h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin: 6rem 0rem 5rem;}
h2 {
        font-family: 'Lato', sans-serif;
        
        font-weight: 600;}
        
p {font-family: 'Open-Sans', sans-serif;}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
    

